.show
{
  opacity: 1;
  transition: opacity 1000ms;
}

.hide
{
  opacity: 0;
}

#MAP_NAME:not(:empty)::before
{
	color: black;
	content: "Map: ";
}

#WR_TP_TIME:not(:empty)::before
{
	color: black;
	content: "TP WR: ";
}

#WR_TP_PLAYER:not(:empty):before
{
	color: black;
	content: "by ";
}

#WR_PRO_TIME:not(:empty)::before
{
	color: black;
	content: "PRO WR: ";
}

#WR_PRO_PLAYER:not(:empty)::before
{
	color: black;
	content: "by ";
}